/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

* {
    font-family: 'Bangers', cursive;
}

/* Marvel image background */
body {
    height: 1vh;
}
.bg {
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Marvel-Background.jpg);
    padding-bottom: 46.66%;
    background-attachment: fixed;
}
/* CSS for the positioning and style of the h1 tag */
.marvelTitle {
    font-size: 10vh;
    color: white;
    letter-spacing: 1vh;
    text-align: center;
    width:  auto;
    padding-left: 3vh;
}
/* CSS for the positioning, and style of the h2 tag */
.marvelSubHeader {
    font-size: 5vh;
    color: slategray;
    letter-spacing: 1vh;
    text-align: center;
    width: auto;
    padding-left: 3vh;
}

/* CSS for the positioning, dimensions, and style of the p tag */
#storyScreenText {
    font-size: 3vh;
    color: #B39624;
    line-height: 4.1vh;
    letter-spacing: .15vh;
}

/* CSS for the card which will be the background of the P element and where the logic of the game will work */
.card-body {
    background-color: #121AB3;
    border: ridge 3px #B39624;
}

/* CSS for the background which will hold the instructions and the game mechanic */
#marvelGameCard {
    width: 55vh;
    height: 70vh;
    position: relative;
    margin: auto;
}

/* CSS for the footer which will remain static */
footer {
    margin: auto;
    position: relative;
    top: 26px;
    color: white;
}